<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">RBH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!" onclick="showhide()"><i class="bi-cart-fill me-1"></i> Your card <span class="badge bg-dark text-white ms-1 rounded-pill">0</span></a></li>
                        <li><a class="dropdown-item" href="#!" onclick="emptycard()">Empty card</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="button" onclick="showhide()">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<app-cards-modal>   
    <div class="div_card_srcoll" >
     <!--   <div class="card mb-3" data-int="{{rijesponse.i}}" data-id="{{rijesponse.id}}"  >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{rijesponse.img}}" class="card-img" alt="{{rijesponse.title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rijesponse.title}}</h5>
        
                   <p class="card-text"><small class="text-muted pricef">{{rijesponse.price}}</small></p>
                </div>
              </div>
              <div class="col-md-4 remove-pr">
              <i class="bi bi-trash" onclick="emptycard_id({{rijesponse.id}},{{rijesponse.i}}"></i>
            </div>
            </div>
          </div>--> 
    </div> 
    <div class="btn_f"></div>
</app-cards-modal>