/* You can add global styles to this file, and also import other style files */
@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);

:root {
    --orange: #cc8502 !important;
}

* {
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-f:not(.added) .btn-remove-card {
    display: none
}

.card-f:not(.added) .btn-remove-card {}

.card-f.added .card-footer .text-center:not(.btn-remove-card) {
    display: none;
}

.btn-remove-card {
    border-color: red;
    color: red;
}

app-cart.card.h-100f.card-f {
    padding: 0px;
    margin: 10px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
    transition: .3s !important;
}

app-cart.card.h-100f.card-f:hover {
    transform: scale(1.1) !important;
}

app-cart.card.h-100f.card-f img {
    height: 160px;
    object-fit: cover;
    margin: 2px;
    width: -webkit-fill-available;
}

#background_image {
    position: fixed;
    z-index: -1;
    top: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    pointer-events: none;
    mask-image: linear-gradient(233deg, black, transparent);
    -webkit-mask-image: linear-gradient(233deg, black, transparent);
}

body {
    background: black;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #838383 !important;
    background: #fff !important;
}

/* f */

app-cards-modal {
    position: fixed;
    z-index: 3;
    right: 10px;
    top: 64px;
    width: fit-content;
    height: 400px;
    overflow: auto;
    padding: 5px;
    min-width: 350px;
}

app-cards-modal .card {
    width: 330px !important;
    height: 61px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

/** {
    overflow-x:hidden;
}

body{
    overflow: hidden;
}*/

app-cards-modal h5 {
    font-weight: bold !important;
}

app-cards-modal .card-body {
    padding: 0px !important;
}

app-nav-bar * {
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.rounded-pill {
    background: var(--orange) !important;
}

.rounded-pill {}

app-cards-modal img.card-img {
    height: 51px;
    object-fit: cover;
    margin-left: 5px;
    position: absolute;
    width: 100px;
    top: 0px;
    left: 0px;
    margin-top: 3px;
}

app-cards-modal .card .row.no-gutters {
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 64px;
}


app-cards-modal .card .col-md-4 {
    width: 100px;
}

.row.no-gutters {}

app-cards-modal .card .col-md-8 {
    position: absolute;
    left: 100px;
}

app-cards-modal .card h5.card-title {
    margin: 0px;
}

app-cards-modal .card {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
}

app-nav-bar {
    position: sticky;
    top: 0px;
}

app-nav-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    width: -webkit-fill-available;
    z-index: 33333;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
}
app-cards-modal:not(.show),
app-cards-modal:not(.show) .card{
    
    display:none;
}
 

app-cards-modal  {
    background: white;
    border-radius: 10px;
    overflow-x:hidden;
    border: 1px solid var(--orange);
    overflow-y:auto;
}
 

app-cards-modal .btn_f {
    position: absolute;
    top: 150px;
    z-index: 333;
    background: white;
    right: 10px;
    color: red !important;
    border-top: 1px solid var(--orange);
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: unset;
    padding: 10px;
}
 

app-cards-modal .div_card_srcoll {
    right: 0px;
    width: fit-content;
    bottom: 30px;
    top: 0px;
    display: block;
    overflow: auto;
    height: 357px;
    overflow-x: hidden;
}
app-cards-modal .btn_f {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

app-cards-modal .btn_f span{
    width:100%;
    text-align: center;
}app-cards-modal .btn_f {
    padding:4px;
}
app-cards-modal .btn_f span{
    padding:5px;
}
app-cards-modal .btn_f span:hover{
    background: var(--orange);
    cursor:pointer;
    border-radius:6px;
    color:white !important;
    
}
app-cards-modal .btn_f span:hover i {
    color:white !important;
}app-cards-modal dcard {
    display: grid;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: auto;
}
app-cards-modal  dcard i {
    font-size: 30px;
    margin-bottom:10px;
}

app-cards-modal .div_card_srcoll {
    width: -webkit-fill-available;
}

.div_card_srcoll {}

.div_card_srcoll.is_emptycard {
    display: flex;
}

app-cards-modal .col-md-4.remove-pr {
    position: absolute;
    right: 25px;
    width: 20px !important;
    font-size: 20px;
    z-index: 333;
    cursor: pointer;
}@media screen and (max-width: 400px){
    .card-generatorFront{
        width:100% !important;
        margin:0px !important;
    }
    section .container {
    /* padding: 0px !important; */
}

.card-generatorFront .card {
    width: -webkit-fill-available !important;
    margin: 0px;
    padding: 0px;
}
    section .px-4 {
        margin-top:30px !important;
    }
}

button[onclick="showhide()"]:hover {
    background: var(--orange);
    color: white !important
}

button[onclick="showhide()"]:hover i { 
    color: white !important
}

button[onclick="showhide()"]:hover .rounded-pill{
    background:white !important;
    color:var(--orange) !important;
}