/* You can add global styles to this file, and also import other style files */
@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-f:not(.added) .btn-remove-card {
    display:none
}

.card-f:not(.added) .btn-remove-card {
    
}
.card-f.added .card-footer .text-center:not(.btn-remove-card){
    display: none;
}
.btn-remove-card{
    border-color:red;
    color:red;
}
  